.card-deck {
    margin: auto;
    width: 80%;
    padding: 5rem 0;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & .col-md-6 {
        cursor: pointer;

        & .card-header {
            background-color: rgba(#516c81, 1) !important;
            color: white;
            
            & .title {
                font-size: 2rem;
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: 800px) {
    .title {
        font-size: 1.5rem;
    }
}