.navbar {
    padding: 1rem 5rem !important;
    margin-bottom: 10rem;
    background: $tertiary;
    
    & .navbar-brand {
        font-size: 3rem;
        color: $primary;

        &:hover {
            color: $secondary;
        }
    }

    & .navbar-toggler {
        color: $primary;
        font-size: 3rem;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }

    &-collapse {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        & .nav {
        
            &-item {

                & .nav-link {
                    color: $primary;
                    font-size: 2rem;

                    &:hover {
                        color: $secondary;
                    }            
                }
            }
        }
    }
}

.footer {
    background: rgba($primary, 0.9);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__contact {
        font-size: 4rem;
        margin-bottom: 1rem;

        & i {
            margin: 0 1rem;
            transition: all 0.5s ease-in-out;
            color: #fff;

            &:hover {
                color: $secondary;
                transform: scale(1.2) translateY(-1rem);
            }
        }
    }

    & hr {
        background: #fff;
        width: 80%;
    }

    &__copyright {
        margin-top: 1rem;
        text-align: center;
        color: #fff;

        & .small {
            font-size: 2rem;
            letter-spacing: 0.1rem;
        }
    }
}

@media (max-width: 992px) {

    .navbar {

        &-collapse {

            & .nav {
                display: flex;
                flex-direction: column;
                align-items: flex-end;   
                justify-content: flex-end; 
            }
        }
    }
    
    .footer {

        &__copyright {
            width: 75%;
        }
    }
}