<div class="mt-5 container">
    <button (click)='onLoad()' class="btn btn-outline-primary btn-lg">Load Word</button>
    <div class="mt-5 p-2 card">
        <div class="card-body text-center">
            <h1>{{word.text}}</h1>
        </div>
    </div>
    <div class="mt-5 button-container">
        <button (click)='onCorrect(word)' class="mr-5 btn btn-lg btn-outline-success">Correct</button>
        <button (click)='onIncorrect(word)' class="btn btn-lg btn-outline-danger">Incorrect</button>
    </div>
</div>