@keyframes popover {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-10rem);
        opacity: 0;
    }
}

.card {
    width: 100%;
}

.list-group-item {
    font-size: 2rem;
}

.correctness {
    font-size: 4rem;
    padding: 2rem;
}

.cursor {
    cursor: none !important;
}