<div class="container">
    <input [(ngModel)]='wordsCollection' (keyup.enter)='selectCollection(wordsCollection)' class="form-control mt-3" placeholder="Type in a collection...">
    <div class="container mt-3">
        <button *ngIf='roundFinished' (click)='finishRound()' class="mb-3 btn btn-block btn-outline-danger">Finish</button>
        <button [class.d-none]='wordsCollection == 0' *ngIf='usedWords.length == 0' (click)='generateWord()' class="mb-3 btn btn-sm btn-block btn-outline-info">Generate</button>
        <div [class.d-none]='roundFinished' *ngIf='usedWords.length > 0' class="card">
            <div class="card-body text-center">
                <h3>{{ currentWord['word'] }}</h3>
                <button (click)='correctWord()' class="btn btn-success mr-3">Correct</button>
                <button (click)='inCorrectWord()' class="btn btn-danger">Incorrect</button>
            </div>
        </div>
        <div *ngIf='roundFinished' class="card">
            <div class="card-body text-center">
                <h3>Round Stats</h3>
                <ul class="list-group">
                    <li *ngFor='let word of usedWords' class="list-group-item">
                        {{ word.word }} => {{ word.isCorrect }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>