<div *ngIf="!studyFinished" class="study-card">
    <p>{{selectedWord.name}}</p>
    <div class="study-card-buttons">
        <button (click)="studyWord('true', selectedWord)" class="text-success border-success">Correct</button>
        <button (click)="studyWord('false', selectedWord)" class="text-danger border-danger">Incorrect</button>
    </div>
</div>
<div *ngIf="studyFinished" class="study-card">
    <h3>You have finished studying <span class="text-info pointer" routerLink="/dashboard/{{collectionName}}">{{collectionName}}</span>!  You will be sent to <span class="text-info pointer" routerLink="/dashboard/study">Study</span> in 5 seconds! </h3>
</div>