<div *ngFor='let stat of recordedStats'>
    <div (click)='stat.isShown = !stat.isShown' class="toggle bg-dark text-light text-center p-3 mr-5 ml-5">
        <h3>{{recordedStats.indexOf(stat)}}</h3>
        <i class="fa" [class.fa-chevron-down]='!stat.isShown' [class.fa-chevron-up]='stat.isShown'></i>
    </div>
    <div *ngIf='stat.isShown' class="card mrr-5 ml-5">
        <div class="card-body">
            <h5>{{stat['collection']}}</h5>
            <h5>{{stat['timestamp']}}</h5>
            <hr>
            <div *ngFor='let word of stat["stats"]'>
                <p [class.font-weight-bold]='!word.isCorrect' [class.text-success]='word.isCorrect' [class.text-danger]='!word.isCorrect'>{{word['word']}}</p>
            </div>
        </div>
    </div>
</div>