.navbar {
    padding: 1rem;
    width: 100%;

    & .navbar-nav {
        animation: move-in-left 2s ease-in-out;
        display: flex;
        flex-direction: row;

        & .nav-item {
            
            & .nav-link {
                display: inline-block;
                margin-right: 2rem;
                font-size: 1.5rem;
                color: white;
            }
        }
    }
}

.active {
    text-decoration: underline;
}

@media(max-width: 750px) {
    .navbar {

        & .navbar-nav {

            & .nav-item {

                & .nav-link {
                    margin-right: 1rem;
                }
            }
        }
    }
}