<div class="my-card" style="margin-bottom: 10rem;">
    <h1 class="my-card-title">Welcome To Studying Words!</h1>
    <div class="my-card-body">
        <h2 class="d-block mb-5">
            <strong class="d-block my-4">Manage:</strong>
            <span>Create collections of words to study!</span>
        </h2>
        <h2 class="d-block mb-5">
            <strong class="d-block my-4">Study:</strong>
            <span>Choose a created collection to study!</span>
        </h2>
        <h2 class="d-block mb-5">
            <strong class="d-block my-4">Records:</strong>
            <span>View previous study rounds and that statistics about them!</span>
        </h2>
    </div>
</div>